@menuHeight: 40px;
@rightWidth: 182px;
@leftWidth:  180px;
@shadowBg : #c0d0ef;

@bodyBg: #cde;
@menuBg: lighten(#ddd, 20%);
@menuBg: lighten(#ddd, 20%);
@menuColor: #eee;

@mainPaneBg: #D0E5F2;
@leftPaneBg: #D3DCE0;
@rightPaneBg: #D3DCE0;
@borderColor: darken(#D3DCE0, 12%);
@borderDirtyColor: #A03A5E;

@successColor: green;
@infoColor: blue;
@warningColor: yellow;
@errorColor: #A03A5E;

@bodyMinWidth : 490px;

.glyphBg(@left, @top) {
    background: transparent url('../image/glyph.png') @left @top  no-repeat;
}

.glyphBgWhite(@left, @top) {
    background: transparent url('../image/glyph-white.png') @left @top  no-repeat;
}

.shadow(@one: 5px, @two: 5px, @depth: 8px) {
    box-shadow: @one @two @depth @shadowBg;
}

.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.hidden { display:none; }

body {
    min-width: @bodyMinWidth;
    background: @bodyBg;
    margin:  0;
    padding: 0;
    font-family: Helvetica;
}

div#page {
    min-width:400px;
    max-width:68em;
    margin:0 auto;
}

div#footer {
    position: absolute;
    bottom: 0;
    height: 45px;
    background: red;
}

input {
    .rounded-corners(4px);
    border:1px solid transparent;
}

input[type="button"] {
    color:transparent;
}

li { list-style: none; }

div.topMenu{
    position: relative;
    float: left;
    margin: 0;
    padding:0;
    width: 100%;
    height: @menuHeight;
    color:  @menuColor;
    background: @menuBg;
    overflow:hidden;
    color:#ddd;
    border-bottom-left-radius:9px;
    border-bottom-right-radius:9px;
    background-color:#abc;
    h1 {
        font-style:italic;
        margin:2px 0 0 22px;
        float:left;
        font-family:georgia;
        font-size:1.9em;
    }
    div.loginWrap {
        position:absolute;
        width:100%;
        div.login {
            white-space:nowrap;
            position:relative;
            float:right;
            font-size:0.7em;
            font-style:italic;
            margin:8px 8px 0 0;
            background:@bodyBg;
            padding:1px 5px 0px 5px;
            .rounded-corners(6px);
            color:#999;
            label {
            }
            input {
                border:1px solid #888;
                width:80px;
                margin:0 2px;
                background:#cde;

            }
            button {
                border:none;
                color:#888;
                background:transparent;
                cursor:pointer;
                padding-left:0px;
                padding-right:0px;
                margin:0 4px;
            }
        }
    }
}

div.contentWrap {
    border-left: @leftWidth  solid @leftPaneBg;
    border-right:@rightWidth solid @rightPaneBg;
    height:100%;
    margin:0 8px;
}

div.contentPane, .left, .right  { float:left; margin-top:8px; }
.right, .left               { position:relative; }

div.contentPane {
    width:100%;
    //background:@mainPaneBg;
}

div.right {
    width: @rightWidth;
    margin-right:(0-@rightWidth);
}

div.left {
    width: @leftWidth;
    margin-left:(0-@leftWidth);
    left:-100%;
}

div.gridBox {
    margin:10px;
    padding:8px;
    border:3px solid @borderColor;
    .rounded-corners(10px);
    overflow:auto;
}

.savButton      { .glyphBg(-290px,    0px); }
.contentPane {
    div[cms-pane],
    cms-pane {
        ul.dataContent {
            li.row {
                float:left;
                width:auto;
            }
        }
    }
}
div[cms-pane],
cms-pane {
    margin:0;
    .delButton      { .glyphBg(-458px,    0px); }
    .editButton     { .glyphBg(   0px,  -72px); }
    .subButton      { .glyphBg(-410px, -120px); }
    .savButton      { .glyphBg(-290px,    0px); }
    .addButton      { .glyphBg(-408px, -98px);  }
    .outButton      { .glyphBg(-120px, -72px);  }
    .closeButton    { .glyphBg(-218px, -96px);  }
    .removeButton   { .glyphBg(-312px,    0px); }
    .restoreTable   { .glyphBg(-266px,  -24px); }
    //.peekTable      { .glyphBgWhite(-266px,  -24px); }
    .peekTable      { .glyphBg(-266px,  -26px); }
    .headButtons { 
        input {
            width:14px; 
            margin:0;
            padding:0;
        }
    }

    & .inlineWrapper { 
        display:block;
        width:100%;
        padding:0;
        background:#fff;
        &>* {
            float:right;
            max-width:90%;
            margin-right:6px;
        }
        div[cms-pane],
        cms-pane {
            & [cms-header] {
                margin:4px 0 0 0;
            }
            padding:0;
            ul.dataContent {
                width:148px;
                border:3px solid #abc;
                border-top:0;
                border-top-left-radius:0;
                border-top-right-radius:0;
                margin:0px 0 0px 0;
                float:right;
                li {
                    border-top:2px solid #eee;
                    background:#fff;
                }
            }
        }
    }

    .buttons {
        & div {
            float:right;
            margin:0;
            input {
                font-size:0px;
                min-height:14px;
                float:left;
                cursor:pointer;
                padding:0;
                width:14px;
                margin-left:1px;
                -webkit-border-radius:0;
            }
        }
    }
    cms-header,
    [cms-header] {
        float:left;
        width:100%;
        margin-bottom:2px;
        background: #abc;
        font-family:Helvetica;
        font-size:0.9em;
        color:#eef;
        font-family:Georgia;
        font-style:italic;
        border-top-left-radius:5px;
        div:first-child {
             font-style:italic;
             font-weight:bold;
             margin:0;
             padding:0px 3px;
             border-radius:2px;
        }
        div {
            padding:3px 0;
            position:relative;
            float:left;
            margin-left: 3px; 
        }
        .button {
            float:right;
            margin:3px 2px 0px 1px;
            padding:2px 1px 6px 0px;
            height:11px;
            border-radius:2px;
        }

        input {
            &.reloadButton { .glyphBg(-218px, -24px); }
            //&.restoreTable { .glyphBg(-409px, -73px); }
            &.restoreTable { .glyphBg(-266px,  -24px); }
            //&.peekTable    { .glyphBgWhite(-266px,  -24px); }
            //&.peekTable.hidden { .glyphBg(-266px,  -24px); }
        }
        div.spaces {
            position:relative;
            float:left;
            height:22px;
            margin: 0px;
            padding:0px;
            background-color:#c7d2d8;
            div.space {
                float:left;
                width:22px;
                height:22px;
                border-right:1px dashed @menuBg;
            }
        }
        span{
            display:none;
            .rounded-corners(2px);
            float:right;
            margin:2px 4px  0 0;
            height: 16px;
            padding:1px 2px;
            font-family: Helvetica;
            font-size:1em;
            color : green;
            background:@mainPaneBg;
        }
        span.success {color:@successColor;}
        span.info    {color:@infoColor;   }
        span.warning {color:@warningColor;}
        span.error   {color:@errorColor;  }
    }

    ul.dataContent {
        .rounded-corners(5px);
        .shadow;
        float:left;
        font-size:0.9em;
        margin:0 0 0px 0;
        padding:0;
        width:100%;
        li.row {
            position:relative;
            float:left;
            width:100%;
            border:0;
            margin: 0;
            min-height:19px;
            &:hover {
                div.buttons {
                    display:block;
                }
            }
            div {
                float:left;
                &.item {
                    p {
                        margin:0;
                        padding:0;
                        overflow-x:auto;
                        font-size:0.91em;
                        font-style:italic;
                    }
                }
            }
            .buttons {
                //display:none;
                position:absolute;
                float:none;
                width:100%;
                top:0px;
                &>div {
                    padding:2px;
                    background-color:lighten(#222222, 70%);
                    opacity:0.70;
                    float:right;
                    .rounded-corners(3px); 
                    .shadow;
                }
                &>input {
                    float:left;
                    padding-right:4px;
                }
                display:none;
            }
            div[p-img] {
                margin:0;
                padding:0;
                div {
                    padding:5px;
                }
                img {
                    width: 40px;
                    margin:0 8px 0 0;
                }
                p {
                    margin:0;
                    padding:0;
                    width:100%;
                }
                [row-buttons] {
                   position:absolute;
                   height:16px;
                   width:85%;
                }
            }
            [div-img] {
               margin:5px;
               border:1px solid #aaa;
               padding:5px;
               .rounded-corners; 
               img {
                   height: 80px;
                   width:auto;
                   margin:0 0px 0 12px;
                   float:right;
                   .rounded-corners(3px);
               }
               [row-buttons] {
                  position:relative;
                  float:left;
                  height:16px;
                  display:block;
                  clear:left;
               }
            }
            &.editable .active {
                display:block;
                border:1px solid #aaa;
                padding:6px 8px 4px 4px;
                background:#cde;
                .rounded-corners;
                width:94%;
                textarea,
                input { 
                    width:100%;
                    border:1px solid #ddd;
                    .rounded-corners;
                }
                label {
                    background:transparent;
                }
            }
            &.editable .text {
                display:none;
            }
            &:hover,
            &.selected {
                background:#fff;
            }
            >.item {
                border-bottom:1px dotted #ccc;
                width:97%;
            }
        }
        li {
            float:left;
            &.button {
                height:16px;
                margin-top:2px;
                float:right;
                width:auto;
                white-space:nowrap;
            }
        }
        ul {
            margin:0;
            padding:0;
        }
    }
    &[rel="m-1-out"] {
        ul.dataContent {
            li.row {
                float:left;
                width:auto;
                div[p-img] {
                    height:85px;
                    img { 
                        height:80px;
                        width:auto;
                    }
                }
            }
        }
    }
}

.active, .editable .text { display:none; }
.text, .editable .active { display:block; }

.pimg {
    .row {
        float:left;
        width:auto;
        //padding:8px;
        //margin:8px 0px 0 8px;
        padding:0;
        margin:0;
        max-width:300px;
        min-height:80px;
        overflow:auto;
        >div {
            border-radius:5px;
            border:1px solid #aaa;
            margin:8px;
            overflow:auto;
            padding:8px;
            //max-width:250px;
        }
        p {
            margin:0;
        }
        img {
            float:right;
        }
        .button {
            float:left;
        }
    }
    .active {
        padding:8px 8px 20px 8px;
        margin-bottom:8px;
        border:1px solid #aaa;
        textarea {
            width:100%;
            border:1px solid #ddd;
            .rounded-corners(3px);
        }
        label {
            clear:left;
            font-size:0.9em;
        }
        ul {
            li {
                width:100%;
            }
        }
        .button {
            float:right;
        }
    }
}

.members { 
    input {
        width:100px;
    }
}

.box {
    margin:4px;
    float:left;
    .rounded-corners(8px);
    //border:2px solid #aaa;
    //box-shadow: 5px 5px 11px @shadowBg;
    .shadow();
    &.inside {
        margin-left:12px;
    }
}

detail {
    display:none;
    color:black;
    position:relative;
    float:left;
    padding:0;
    margin:0;
    width:98%;
    //.rounded-corners(8px);
    //border:2px solid #aaa;
    img {
        width:96%;
        margin:2%;
    }
    div.box {
        width:99%;
    }
    input[type="button"] {
        color:black;
    }
}

.paneScroll {
    overflow-y:auto;
    height:650px;
}
