.hidden {
  display: none;
}
body {
  min-width: 490px;
  background: #eee;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
div#page {
  min-width: 400px;
  max-width: 68em;
  margin: 0 auto;
}
div#footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  background: red;
}
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}
input[type="button"] {
  color: transparent;
}
li {
  list-style: none;
}
div.topMenu {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 15px;
  color: #eeeeee;
  background: #6aa3c8;
  overflow: hidden;
}
div.contentWrap {
  border-left: 180px solid #d3dce0;
  border-right: 280px solid #d3dce0;
  height: 100%;
}
div.contentPane,
.left,
.right {
  float: left;
}
.right,
.left {
  position: relative;
}
div.contentPane {
  width: 100%;
  background: #d0e5f2;
}
div.right {
  width: 280px;
  margin-right: -280px;
}
div.left {
  width: 180px;
  margin-left: -180px;
  left: -100%;
}
div.gridBox {
  margin: 10px;
  padding: 8px;
  border: 3px solid #afbfc7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}
.savButton {
  background: transparent url('../image/glyph.png') -290px 0px no-repeat;
}
.contentPane cms-pane ul.dataContent li.row {
  float: left;
  width: auto;
}
cms-pane {
  margin: 0;
}
cms-pane .delButton {
  background: transparent url('../image/glyph.png') -458px 0px no-repeat;
}
cms-pane .editButton {
  background: transparent url('../image/glyph.png') 0px -72px no-repeat;
}
cms-pane .subButton {
  background: transparent url('../image/glyph.png') -410px -120px no-repeat;
}
cms-pane .savButton {
  background: transparent url('../image/glyph.png') -290px 0px no-repeat;
}
cms-pane .addButton {
  background: transparent url('../image/glyph.png') -408px -96px no-repeat;
}
cms-pane .outButton {
  background: transparent url('../image/glyph.png') -120px -72px no-repeat;
}
cms-pane .closeButton {
  background: transparent url('../image/glyph.png') -218px -96px no-repeat;
}
cms-pane .removeButton {
  background: transparent url('../image/glyph.png') -312px 0px no-repeat;
}
cms-pane .restoreTable {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
cms-pane .peekTable {
  background: transparent url('../image/glyph-white.png') -266px -24px no-repeat;
}
cms-pane .inlineWrapper {
  display: none;
  width: 100%;
  margin: 5px 0;
  padding: 0;
  background: #fff;
}
cms-pane .inlineWrapper cms-pane {
  padding: 0;
}
cms-pane .inlineWrapper cms-pane ul.dataContent {
  width: 90%;
  border: 4px solid #abc;
  margin: 3px 0;
  float: right;
}
cms-pane .inlineWrapper cms-pane ul.dataContent li {
  border-top: 2px solid #eee;
  background: #fff;
}
cms-pane .buttons div {
  float: right;
  margin: 0;
}
cms-pane .buttons div input {
  font-size: 0px;
  min-height: 14px;
  float: left;
  cursor: pointer;
  padding: 0;
  width: 14px;
  margin-left: 1px;
  -webkit-border-radius: 0;
}
cms-pane cms-header,
cms-pane [cms-header] {
  float: left;
  width: 100%;
  margin-bottom: 2px;
  background: #6aa3c8;
  font-family: Helvetica;
  font-size: 0.9em;
}
cms-pane cms-header div:first-child,
cms-pane [cms-header] div:first-child {
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 0px 3px;
  border-radius: 2px;
}
cms-pane cms-header div,
cms-pane [cms-header] div {
  padding: 3px 0;
  position: relative;
  float: left;
  margin-left: 3px;
}
cms-pane cms-header .button,
cms-pane [cms-header] .button {
  float: right;
  margin: 3px 2px 0px 1px;
  padding: 0px 1px 6px 0px;
  height: 11px;
  border-radius: 2px;
}
cms-pane cms-header input.reloadButton,
cms-pane [cms-header] input.reloadButton {
  background: transparent url('../image/glyph.png') -218px -24px no-repeat;
}
cms-pane cms-header input.restoreTable,
cms-pane [cms-header] input.restoreTable {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
cms-pane cms-header input.peekTable,
cms-pane [cms-header] input.peekTable {
  background: transparent url('../image/glyph-white.png') -266px -24px no-repeat;
}
cms-pane cms-header input.peekTable.hidden,
cms-pane [cms-header] input.peekTable.hidden {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
cms-pane cms-header div.spaces,
cms-pane [cms-header] div.spaces {
  position: relative;
  float: left;
  height: 22px;
  margin: 0px;
  padding: 0px;
  background-color: #c7d2d8;
}
cms-pane cms-header div.spaces div.space,
cms-pane [cms-header] div.spaces div.space {
  float: left;
  width: 22px;
  height: 22px;
  border-right: 1px dashed #6aa3c8;
}
cms-pane cms-header span,
cms-pane [cms-header] span {
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: right;
  margin: 2px 4px  0 0;
  height: 16px;
  padding: 1px 2px;
  font-family: Helvetica;
  font-size: 1em;
  color: green;
  background: #d0e5f2;
}
cms-pane cms-header span.success,
cms-pane [cms-header] span.success {
  color: #008000;
}
cms-pane cms-header span.info,
cms-pane [cms-header] span.info {
  color: #0000ff;
}
cms-pane cms-header span.warning,
cms-pane [cms-header] span.warning {
  color: #ffff00;
}
cms-pane cms-header span.error,
cms-pane [cms-header] span.error {
  color: #a03a5e;
}
cms-pane ul.dataContent {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 11px #aaa;
  float: left;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
  width: 100%;
}
cms-pane ul.dataContent li.row {
  position: relative;
  float: left;
  width: 100%;
  border: 0;
  margin: 0;
}
cms-pane ul.dataContent li.row:hover div.buttons {
  display: block;
}
cms-pane ul.dataContent li.row div {
  float: left;
}
cms-pane ul.dataContent li.row div.item p {
  margin: 0;
  padding: 0;
  overflow-x: auto;
}
cms-pane ul.dataContent li.row .buttons {
  position: absolute;
  float: none;
  width: 100%;
  top: 0px;
  display: none;
}
cms-pane ul.dataContent li.row .buttons > div {
  padding: 2px;
  background: white;
  opacity: 0.80;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: -1px 2px 8px #778899;
}
cms-pane ul.dataContent li.row .buttons > input {
  float: left;
  padding-right: 4px;
}
cms-pane ul.dataContent li.row div[p-img] {
  margin: 0;
  padding: 0;
}
cms-pane ul.dataContent li.row div[p-img] div {
  padding: 5px;
}
cms-pane ul.dataContent li.row div[p-img] img {
  width: 40px;
  margin: 0 8px 0 0;
}
cms-pane ul.dataContent li.row div[p-img] p {
  margin: 0;
  padding: 0;
  width: 100%;
}
cms-pane ul.dataContent li.row div[p-img] [row-buttons] {
  position: absolute;
  height: 16px;
  width: 85%;
}
cms-pane ul.dataContent li.row [div-img] {
  margin: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
cms-pane ul.dataContent li.row [div-img] img {
  height: 80px;
  width: auto;
  margin: 0 0px 0 12px;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
cms-pane ul.dataContent li.row [div-img] [row-buttons] {
  position: relative;
  float: left;
  height: 16px;
  display: block;
  clear: left;
}
cms-pane ul.dataContent li.row.editable .active {
  display: block;
  border: 1px solid #aaa;
  padding: 8px;
  background: #def;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
cms-pane ul.dataContent li.row.editable .active textarea,
cms-pane ul.dataContent li.row.editable .active input {
  width: 100%;
}
cms-pane ul.dataContent li.row.editable .active label {
  background: transparent;
}
cms-pane ul.dataContent li.row.editable .text {
  display: none;
}
cms-pane ul.dataContent li.row:hover,
cms-pane ul.dataContent li.row.selected {
  background: #a8cfe7;
}
cms-pane ul.dataContent li.row > .item {
  border-bottom: 1px dotted #ccc;
  width: 97%;
}
cms-pane ul.dataContent li {
  float: left;
}
cms-pane ul.dataContent li.button {
  height: 16px;
  margin-top: 2px;
  float: right;
  width: auto;
  white-space: nowrap;
}
cms-pane ul.dataContent ul {
  margin: 0;
  padding: 0;
}
cms-pane[rel="m-1-out"] ul.dataContent li.row {
  float: left;
  width: auto;
}
cms-pane[rel="m-1-out"] ul.dataContent li.row div[p-img] {
  height: 85px;
}
cms-pane[rel="m-1-out"] ul.dataContent li.row div[p-img] img {
  height: 80px;
  width: auto;
}
.active,
.editable .text {
  display: none;
}
.text,
.editable .active {
  display: block;
}
.pimg .row {
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
  max-width: 300px;
  min-height: 80px;
  overflow: auto;
}
.pimg .row > div {
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 8px;
  overflow: auto;
  padding: 8px;
}
.pimg .row p {
  margin: 0;
}
.pimg .row img {
  float: right;
}
.pimg .row .button {
  float: left;
}
.pimg .active {
  padding: 8px 8px 20px 8px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.pimg .active textarea {
  width: 100%;
}
.pimg .active label {
  clear: left;
  font-size: 0.9em;
}
.pimg .active ul li {
  width: 100%;
}
.pimg .active .button {
  float: right;
}
.members input {
  width: 100px;
}
.box {
  margin: 20px 8px 8px 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #aaa;
}
.paneScroll {
  overflow-y: auto;
  height: 650px;
}
