.hidden {
  display: none;
}
body {
  min-width: 490px;
  background: #ccddee;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}
div#page {
  min-width: 400px;
  max-width: 68em;
  margin: 0 auto;
}
div#footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  background: red;
}
input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid transparent;
}
input[type="button"] {
  color: transparent;
}
li {
  list-style: none;
}
div.topMenu {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
div.topMenu div.bar {
  color: #eeeeee;
  overflow: hidden;
  color: #ddd;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: #abc;
  height: 40px;
}
div.topMenu div.bar h1 {
  font-style: italic;
  margin: 2px 0 0 22px;
  float: left;
  font-family: georgia;
  font-size: 1.9em;
}
div.topMenu div.bar div.loginWrap {
  position: absolute;
  width: 100%;
}
div.topMenu div.bar div.loginWrap div.login {
  white-space: nowrap;
  position: relative;
  float: right;
  font-size: 0.7em;
  font-style: italic;
  margin: 0;
  background: #ccddee;
  padding: 1px 5px 0px 5px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 3px;
  color: #888;
}
div.topMenu div.bar div.loginWrap div.login input {
  border: 1px solid #888;
  width: 80px;
  margin: 0 2px;
  background: #cde;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
div.topMenu div.bar div.loginWrap div.login button {
  border: none;
  color: #888;
  background: transparent;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 4px;
  font-style: none;
}
div.topMenu div.bar div.loginWrap div.login button:hover {
  color: #222222;
}
div.topMenu div.bar div.loginWrap div.login:hover label {
  color: #222;
}
div.topMenu div.bar div.loginWrap div.login div.logged span {
  font-size: 1.3em;
  padding: 0 3px;
}
div.topMenu div.menuInfo {
  margin: 60px 0 0 100px;
}
div.topMenu div.menuInfo > div {
  margin: 0 auto;
  padding: 12px;
}
div.topMenu div.menuInfo > div ul li {
  width: 100%;
}
div.topMenu div.menuInfo > div ul li label {
  position: relative;
  float: left;
  min-width: 140px;
}
div.topMenu div.menuInfo > div ul li.notify {
  font-style: italic;
  font-size: 0.9em;
  text-align: right;
}
div.topMenu div.menuInfo > div ul li.notify.matched {
  color: green;
}
div.contentWrap {
  border-left: 180px solid #d3dce0;
  border-right: 182px solid #d3dce0;
  height: 100%;
  margin: 0 8px;
}
div.contentPane,
.left,
.right {
  float: left;
  margin-top: 8px;
}
.right,
.left {
  position: relative;
}
div.contentPane {
  width: 100%;
}
div.right {
  width: 182px;
  margin-right: -182px;
}
div.left {
  width: 180px;
  margin-left: -180px;
  left: -100%;
}
div.gridBox {
  margin: 10px;
  padding: 8px;
  border: 3px solid #afbfc7;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  overflow: auto;
}
.savButton {
  background: transparent url('../image/glyph.png') -290px 0px no-repeat;
}
.contentPane div[cms-pane] ul.dataContent li.row,
.contentPane cms-pane ul.dataContent li.row {
  float: left;
  width: auto;
}
div[cms-pane],
cms-pane {
  margin: 0;
}
div[cms-pane] .delButton,
cms-pane .delButton {
  background: transparent url('../image/glyph.png') -458px 0px no-repeat;
}
div[cms-pane] .editButton,
cms-pane .editButton {
  background: transparent url('../image/glyph.png') 0px -72px no-repeat;
}
div[cms-pane] .subButton,
cms-pane .subButton {
  background: transparent url('../image/glyph.png') -410px -120px no-repeat;
}
div[cms-pane] .savButton,
cms-pane .savButton {
  background: transparent url('../image/glyph.png') -290px 0px no-repeat;
}
div[cms-pane] .addButton,
cms-pane .addButton {
  background: transparent url('../image/glyph.png') -408px -98px no-repeat;
}
div[cms-pane] .outButton,
cms-pane .outButton {
  background: transparent url('../image/glyph.png') -120px -72px no-repeat;
}
div[cms-pane] .closeButton,
cms-pane .closeButton {
  background: transparent url('../image/glyph.png') -218px -96px no-repeat;
}
div[cms-pane] .removeButton,
cms-pane .removeButton {
  background: transparent url('../image/glyph.png') -312px 0px no-repeat;
}
div[cms-pane] .restoreTable,
cms-pane .restoreTable {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
div[cms-pane] .peekTable,
cms-pane .peekTable {
  background: transparent url('../image/glyph.png') -266px -26px no-repeat;
}
div[cms-pane] .loadData,
cms-pane .loadData {
  background: transparent url('../image/glyph.png') -266px -2px no-repeat;
}
div[cms-pane] .headButtons input,
cms-pane .headButtons input {
  width: 14px;
  margin: 0;
  padding: 0;
}
div[cms-pane] .inlineWrapper,
cms-pane .inlineWrapper {
  display: block;
  width: 100%;
  padding: 0;
  background: #fff;
}
div[cms-pane] .inlineWrapper > *,
cms-pane .inlineWrapper > * {
  float: right;
  max-width: 90%;
  margin-right: 6px;
}
div[cms-pane] .inlineWrapper div[cms-pane],
cms-pane .inlineWrapper div[cms-pane],
div[cms-pane] .inlineWrapper cms-pane,
cms-pane .inlineWrapper cms-pane {
  padding: 0;
}
div[cms-pane] .inlineWrapper div[cms-pane] [cms-header],
cms-pane .inlineWrapper div[cms-pane] [cms-header],
div[cms-pane] .inlineWrapper cms-pane [cms-header],
cms-pane .inlineWrapper cms-pane [cms-header] {
  margin: 4px 0 0 0;
}
div[cms-pane] .inlineWrapper div[cms-pane] ul.dataContent,
cms-pane .inlineWrapper div[cms-pane] ul.dataContent,
div[cms-pane] .inlineWrapper cms-pane ul.dataContent,
cms-pane .inlineWrapper cms-pane ul.dataContent {
  width: 148px;
  border: 3px solid #abc;
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: 0px 0 0px 0;
  float: right;
}
div[cms-pane] .inlineWrapper div[cms-pane] ul.dataContent li,
cms-pane .inlineWrapper div[cms-pane] ul.dataContent li,
div[cms-pane] .inlineWrapper cms-pane ul.dataContent li,
cms-pane .inlineWrapper cms-pane ul.dataContent li {
  border-top: 2px solid #eee;
  background: #fff;
}
div[cms-pane] .buttons div,
cms-pane .buttons div {
  float: right;
  margin: 0;
}
div[cms-pane] .buttons div input,
cms-pane .buttons div input {
  font-size: 0px;
  min-height: 14px;
  float: left;
  cursor: pointer;
  padding: 0;
  width: 14px;
  margin-left: 1px;
  -webkit-border-radius: 0;
}
div[cms-pane] cms-header,
cms-pane cms-header,
div[cms-pane] [cms-header],
cms-pane [cms-header] {
  float: left;
  width: 100%;
  margin-bottom: 2px;
  background: #abc;
  font-family: Helvetica;
  font-size: 0.9em;
  color: #eef;
  font-family: Georgia;
  font-style: italic;
  border-top-left-radius: 5px;
}
div[cms-pane] cms-header div:first-child,
cms-pane cms-header div:first-child,
div[cms-pane] [cms-header] div:first-child,
cms-pane [cms-header] div:first-child {
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 0px 3px;
  border-radius: 2px;
}
div[cms-pane] cms-header div,
cms-pane cms-header div,
div[cms-pane] [cms-header] div,
cms-pane [cms-header] div {
  padding: 3px 0;
  position: relative;
  float: left;
  margin-left: 3px;
}
div[cms-pane] cms-header .button,
cms-pane cms-header .button,
div[cms-pane] [cms-header] .button,
cms-pane [cms-header] .button {
  float: right;
  margin: 3px 2px 0px 1px;
  padding: 2px 1px 6px 0px;
  height: 11px;
  border-radius: 2px;
}
div[cms-pane] cms-header input.reloadButton,
cms-pane cms-header input.reloadButton,
div[cms-pane] [cms-header] input.reloadButton,
cms-pane [cms-header] input.reloadButton {
  background: transparent url('../image/glyph.png') -218px -24px no-repeat;
}
div[cms-pane] cms-header input.restoreTable,
cms-pane cms-header input.restoreTable,
div[cms-pane] [cms-header] input.restoreTable,
cms-pane [cms-header] input.restoreTable {
  background: transparent url('../image/glyph.png') -266px -24px no-repeat;
}
div[cms-pane] cms-header div.spaces,
cms-pane cms-header div.spaces,
div[cms-pane] [cms-header] div.spaces,
cms-pane [cms-header] div.spaces {
  position: relative;
  float: left;
  height: 22px;
  margin: 0px;
  padding: 0px;
  background-color: #c7d2d8;
}
div[cms-pane] cms-header div.spaces div.space,
cms-pane cms-header div.spaces div.space,
div[cms-pane] [cms-header] div.spaces div.space,
cms-pane [cms-header] div.spaces div.space {
  float: left;
  width: 22px;
  height: 22px;
  border-right: 1px dashed #ffffff;
}
div[cms-pane] cms-header span,
cms-pane cms-header span,
div[cms-pane] [cms-header] span,
cms-pane [cms-header] span {
  display: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  float: right;
  margin: 2px 4px  0 0;
  height: 16px;
  padding: 1px 2px;
  font-family: Helvetica;
  font-size: 1em;
  color: green;
  background: #d0e5f2;
}
div[cms-pane] cms-header span.success,
cms-pane cms-header span.success,
div[cms-pane] [cms-header] span.success,
cms-pane [cms-header] span.success {
  color: #008000;
}
div[cms-pane] cms-header span.info,
cms-pane cms-header span.info,
div[cms-pane] [cms-header] span.info,
cms-pane [cms-header] span.info {
  color: #0000ff;
}
div[cms-pane] cms-header span.warning,
cms-pane cms-header span.warning,
div[cms-pane] [cms-header] span.warning,
cms-pane [cms-header] span.warning {
  color: #ffff00;
}
div[cms-pane] cms-header span.error,
cms-pane cms-header span.error,
div[cms-pane] [cms-header] span.error,
cms-pane [cms-header] span.error {
  color: #a03a5e;
}
div[cms-pane] ul.dataContent,
cms-pane ul.dataContent {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 8px #c0d0ef;
  float: left;
  font-size: 0.9em;
  margin: 0 0 0px 0;
  padding: 0;
  width: 100%;
}
div[cms-pane] ul.dataContent li.row,
cms-pane ul.dataContent li.row {
  position: relative;
  float: left;
  width: 100%;
  border: 0;
  margin: 0;
  min-height: 19px;
}
div[cms-pane] ul.dataContent li.row:hover div.buttons,
cms-pane ul.dataContent li.row:hover div.buttons {
  display: block;
}
div[cms-pane] ul.dataContent li.row div,
cms-pane ul.dataContent li.row div {
  float: left;
}
div[cms-pane] ul.dataContent li.row div.item p,
cms-pane ul.dataContent li.row div.item p {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  font-size: 0.91em;
  font-style: italic;
}
div[cms-pane] ul.dataContent li.row .buttons,
cms-pane ul.dataContent li.row .buttons {
  position: absolute;
  float: none;
  width: 100%;
  top: 0px;
  display: none;
}
div[cms-pane] ul.dataContent li.row .buttons > div,
cms-pane ul.dataContent li.row .buttons > div {
  padding: 2px;
  background-color: #d4d4d4;
  opacity: 0.85;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 5px 5px 8px #c0d0ef;
}
div[cms-pane] ul.dataContent li.row .buttons > input,
cms-pane ul.dataContent li.row .buttons > input {
  float: left;
  padding-right: 4px;
}
div[cms-pane] ul.dataContent li.row div[p-img],
cms-pane ul.dataContent li.row div[p-img] {
  margin: 0;
  padding: 0;
}
div[cms-pane] ul.dataContent li.row div[p-img] div,
cms-pane ul.dataContent li.row div[p-img] div {
  padding: 5px;
}
div[cms-pane] ul.dataContent li.row div[p-img] img,
cms-pane ul.dataContent li.row div[p-img] img {
  width: 40px;
  margin: 0 8px 0 0;
}
div[cms-pane] ul.dataContent li.row div[p-img] p,
cms-pane ul.dataContent li.row div[p-img] p {
  margin: 0;
  padding: 0;
  width: 100%;
}
div[cms-pane] ul.dataContent li.row div[p-img] [row-buttons],
cms-pane ul.dataContent li.row div[p-img] [row-buttons] {
  position: absolute;
  height: 16px;
  width: 85%;
}
div[cms-pane] ul.dataContent li.row [div-img],
cms-pane ul.dataContent li.row [div-img] {
  margin: 5px;
  border: 1px solid #aaa;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
div[cms-pane] ul.dataContent li.row [div-img] img,
cms-pane ul.dataContent li.row [div-img] img {
  height: 80px;
  width: auto;
  margin: 0 0px 0 12px;
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div[cms-pane] ul.dataContent li.row [div-img] [row-buttons],
cms-pane ul.dataContent li.row [div-img] [row-buttons] {
  position: relative;
  float: left;
  height: 16px;
  display: block;
  clear: left;
}
div[cms-pane] ul.dataContent li.row.editable .active,
cms-pane ul.dataContent li.row.editable .active {
  display: block;
  border: 1px solid #aaa;
  padding: 6px 8px 4px 4px;
  background: #cde;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  width: 94%;
}
div[cms-pane] ul.dataContent li.row.editable .active textarea,
cms-pane ul.dataContent li.row.editable .active textarea,
div[cms-pane] ul.dataContent li.row.editable .active input,
cms-pane ul.dataContent li.row.editable .active input {
  width: 100%;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
div[cms-pane] ul.dataContent li.row.editable .active label,
cms-pane ul.dataContent li.row.editable .active label {
  background: transparent;
}
div[cms-pane] ul.dataContent li.row.editable .text,
cms-pane ul.dataContent li.row.editable .text {
  display: none;
}
div[cms-pane] ul.dataContent li.row:hover,
cms-pane ul.dataContent li.row:hover,
div[cms-pane] ul.dataContent li.row.selected,
cms-pane ul.dataContent li.row.selected {
  background: #eee;
}
div[cms-pane] ul.dataContent li.row > .item,
cms-pane ul.dataContent li.row > .item {
  border-bottom: 1px dotted #ccc;
  width: 97%;
}
div[cms-pane] ul.dataContent li,
cms-pane ul.dataContent li {
  float: left;
}
div[cms-pane] ul.dataContent li.button,
cms-pane ul.dataContent li.button {
  height: 16px;
  margin-top: 2px;
  float: right;
  width: auto;
  white-space: nowrap;
}
div[cms-pane] ul.dataContent ul,
cms-pane ul.dataContent ul {
  margin: 0;
  padding: 0;
}
div[cms-pane][rel="m-1-out"] ul.dataContent li.row,
cms-pane[rel="m-1-out"] ul.dataContent li.row {
  float: left;
  width: auto;
}
div[cms-pane][rel="m-1-out"] ul.dataContent li.row div[p-img],
cms-pane[rel="m-1-out"] ul.dataContent li.row div[p-img] {
  height: 85px;
}
div[cms-pane][rel="m-1-out"] ul.dataContent li.row div[p-img] img,
cms-pane[rel="m-1-out"] ul.dataContent li.row div[p-img] img {
  height: 80px;
  width: auto;
}
.active,
.editable .text {
  display: none;
}
.text,
.editable .active {
  display: block;
}
.pimg .row {
  float: left;
  width: auto;
  padding: 0;
  margin: 0;
  max-width: 300px;
  min-height: 80px;
  overflow: auto;
}
.pimg .row > div {
  border-radius: 5px;
  border: 1px solid #aaa;
  margin: 8px;
  overflow: auto;
  padding: 8px;
}
.pimg .row p {
  margin: 0;
}
.pimg .row img {
  float: right;
}
.pimg .row .button {
  float: left;
}
.pimg .active {
  padding: 8px 8px 20px 8px;
  margin-bottom: 8px;
  border: 1px solid #aaa;
}
.pimg .active textarea {
  width: 100%;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.pimg .active label {
  clear: left;
  font-size: 0.9em;
}
.pimg .active ul li {
  width: 100%;
}
.pimg .active .button {
  float: right;
}
.members input {
  width: 100px;
}
.box {
  margin: 4px;
  float: left;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  box-shadow: 5px 5px 8px #c0d0ef;
}
.box.inside {
  margin-left: 12px;
}
detail {
  display: none;
  color: black;
  position: relative;
  float: left;
  padding: 0;
  margin: 0;
  width: 98%;
}
detail img {
  width: 96%;
  margin: 2%;
}
detail div.box {
  width: 99%;
}
detail input[type="button"] {
  color: black;
}
.paneScroll {
  overflow-y: auto;
  height: 650px;
}
