    <div class='buttons'  sid="{{$id}}">
        <div>
            <input type='button' class='addButton' value='' ng-click='add()' ng-show='buttons.add'></input>
            <input type='button' class='closeButton' value='' ng-click='close()' ng-show='buttons.close'></input>
            <input type='button' class='savButton' value='' ng-click='save()' ng-show='buttons.save'></input>
            <input type='button' class='subButton' value='' ng-click='subPane()' ng-show='buttons.sub'></input>
            <input type='button' class='editButton' value='' ng-click='edit()' ng-show='buttons.edit'></input>
            <input type='button' class='delButton' value='' ng-click='del()' ng-show='buttons.del'></input>
        </div>
    </div>
