<div>
    <p>
        <img ng-src='{{workRow[meta.cols[1][0]]}}'></img>
        <span>{{workRow[meta.cols[0][0]]}}</span>
    </p>
    <div class='active'>
        <ul>
            <li>
                <label>{{meta.cols[0][1]}}</label><textarea ng-model="workRow[meta.cols[0][0]]" ng-change='chg(0)'></textarea>
            <li>
            </li>
                <label>{{meta.cols[1][1]}}</label><textarea ng-model="workRow[meta.cols[1][0]]" ng-change='chg(1)'></textarea>
            </li>
        </ul>
    </div>
</div>
